body{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #366ec9;
  padding: 0 0 5% 0;
}

body>h1,
body>p{
  font-family: helvetica; 
  font-weight: 300;
  color: white;
  margin: 0;
}

body>h1{
  letter-spacing: 4px;
  padding: 2% 0 0 0;
}

body>p{
  padding: 1% 0 5% 0;
  letter-spacing: 3px;
  font-size: .7em;
}

/* Where the fun starts */

body>div{
  width: 240px;
  height: 400px;
  display: inline-block;
  position: relative;
  border-color: white;
  border-width: 30px 5px 50px 5px;
  border-style: solid;
  border-radius: 9px;
  background-color: rgba(0,0,0,.8);
  box-shadow: 10px 5px 40px black;
  transition: .8s;
  
}

body>div:hover{
  cursor: pointer;
  background-color: #44aa3d;
}

body>div::after{
  padding-top: 300px;
  content: 'Welcome to the world';
  color: white;
  font-family: helvetica;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 2em;
  opacity: 0;
}

body>div>div:nth-child(1){
  position: absolute;
  top: -16px;
  left: 4px;
  background-color: grey;
  display: block;
  height: 10px;
  width: 70px;
  margin-left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}

body>div>div:nth-child(1)::after{
  position: absolute;
  content: '';
  display: inline-flex;
  width: 10px;
  height: 10px;
  top: -2px;
  left: -20px;
  background-color: rgba(0,0,0,.7);
  border-radius: 100%;
}



body>div>div:nth-child(2){
  
  position: absolute;
  background-color: white;
  right: -9px;
  top: 30px;
  height: 70px;
  width: 8px;
  border-radius: 0 5px 5px 0;
}
body>div>div:nth-child(2)::before{
  content: '';
  position: absolute;
  background-color: white;
  top: 80px;
  left: 0;
  height: 40px;
  width: 8px;
  border-radius: 0 5px 5px 0;
}

body>div>div:nth-child(2)::after{
  content: '';
  position: absolute;
  background-color: grey;
  top: 378px;
  left: -138px;
  height: 35px;
  width: 35px;
  border-radius:100%;
  transition: .5s;
}







